{% extends 'base.html.twig' %}

{% block title %}Guesthouse Terrabella - Create Account
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/createAcc.js') }}" defer></script>
{% endblock %}

{% block body %}
	<main>
		<section class="signup-section">
			<header>
				<h3>{% trans %}Create an Account{% endtrans %}</h3>
				<p>{% trans %}Fill out the form below to register.{% endtrans %}</p>
			</header>
			<article>
				{{ form_start(registrationForm, {'attr': {'id': 'signup-form', 'novalidate': 'novalidate'}}) }}
				<fieldset>
					<legend>{% trans %}Personal Information{% endtrans %}</legend>
					<div class="form-group">
						{{ form_label(registrationForm.firstname) }}
						{{ form_widget(registrationForm.firstname) }}
						<span id="first-name-error" class="error-message" aria-live="polite"></span>
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.lastname) }}
						{{ form_widget(registrationForm.lastname) }}
						<span id="last-name-error" class="error-message" aria-live="polite"></span>
					</div>
				</fieldset>
				<fieldset>
					<legend>{% trans %}Login Information{% endtrans %}</legend>
					<div class="form-group">
						{{ form_label(registrationForm.email) }}
						{{ form_widget(registrationForm.email) }}
						<span id="email-error" class="error-message" aria-live="polite"></span>
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.plainPassword) }}
						{{ form_widget(registrationForm.plainPassword) }}
						<span id="password-error" class="error-message" aria-live="polite"></span>
					</div>
				</fieldset>
				<fieldset>
					<legend>{% trans %}Consent{% endtrans %}</legend>
					<div class="form-group">
						{{ form_widget(registrationForm.agreeTerms) }}
						{{ form_label(registrationForm.agreeTerms) }}
						<span id="consent-error" class="error-message" aria-live="polite"></span>
					</div>
				</fieldset>
				<h3>{% trans %}Already have an account?{% endtrans %}</h3>
				<div class="form-footer">
					<a href="{{ path('app_login') }}">{% trans %}Log in{% endtrans %}</a>
				</div>
				<div>
					<button type="submit" class="button">{% trans %}Register{% endtrans %}</button>
				</div>
				{{ form_end(registrationForm) }}
			</article>
		</section>
	</main>
{% endblock %}
