{% extends 'base.html.twig' %}

{% block title %}
	Guesthouse Terrabella - Home
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('assets/js/script.js') }}" defer></script>
{% endblock %}

{% block body %}
	<section class="carroussel">
		<article class="carroussel-container">
			{% for item in carousel_items %}
				<div class="carroussel-item">
					<h3>{{ item.title|trans }}</h3>
					<img src="{{ asset('assets/' ~ item.image) }}" alt="{{ item.alt|trans }}">
				</div>
			{% endfor %}
		</article>
	</section>


	<!-- Section Rooms -->
	<section class="home-content">
		{% for room in rooms %}
			<article class="room">
				<h2>{{ room.name|trans }}</h2>
				<p>{{ room.description|trans }}</p>
				<img src="{{ asset('assets/img/' ~ room.image) }}" alt="{{ room.alt|trans }}">
				<div class="price">
					<p>
						{{ room.alt }}
						{{ room.price }}$
					</p>
				</div>
				<div class="button">
					<a href="{{ path('app_book', { id: room.id }) }}" class="home-link">{% trans %}CHECK THE AVAILABILITY{% endtrans %}</a>
				</div>
			</article>
		{% endfor %}
	</section>


	<!-- About Us Section -->
	<section class="home-content">
		<article class="room">
			<h2>{% trans %}About Us{% endtrans %}</h2>
			<img src="{{ asset('assets/img/map1_converted.jpg') }}" alt="{% trans %}Map of Kyrgyzstan{% endtrans %}">
			<p>{% trans %}
				We are a family-run guesthouse located in the heart of Kyrgyzstan. Our mission is to provide a warm and welcoming environment for all our guests. Our guesthouse is surrounded by stunning mountains and beautiful landscapes, making it the perfect place to relax and unwind. We take pride in sharing the rich culture and traditions of Kyrgyzstan with our visitors, offering authentic homemade meals and personalized local tours to make your stay unforgettable. Come experience the warmth of our family hospitality and create memories that will last a lifetime.
				{% endtrans %}
			</p>
		</article>

		<!-- About Kyrgyzstan Section -->
		<article class="room">
			<h2>{% trans %}About Kyrgyzstan{% endtrans %}</h2>
			<img src="{{ asset('assets/img/plume livre kgz_converted.jpg') }}" alt="{% trans %}Kyrgyzstan cultural book{% endtrans %}">
			<p>{% trans %}
				Kyrgyzstan is a country located in Central Asia, known for its stunning natural beauty, rich culture, and warm hospitality. The country is home to the majestic Tien Shan mountains, pristine lakes, and vast steppes, making it a paradise for outdoor enthusiasts and nature lovers. Kyrgyzstan is also known for its rich cultural heritage, with a blend of nomadic traditions and modern influences. Visitors can experience traditional Kyrgyz hospitality, sample delicious local cuisine, and explore the vibrant culture of this unique country.
				{% endtrans %}
			</p>
		</article>

		<!-- Why Choose This Destination Section -->
		<article class="room">
			<h2>{% trans %}Why choose this destination{% endtrans %}</h2>
			<img src="{{ asset('assets/img/plume.jpg') }}" alt="{% trans %}Kyrgyzstan landscape{% endtrans %}">
			<p>{% trans %}
				Kyrgyzstan offers a unique blend of adventure and tranquility. Whether you're hiking in the Tien Shan mountains, horseback riding across vast steppes, or exploring UNESCO World Heritage sites like the ancient Silk Road cities of Osh and Bishkek, this destination has something for everyone. At Guesthouse Terrabella, we provide cozy accommodations and heartfelt service to make your journey truly special. Experience warm Kyrgyz hospitality and breathtaking scenery while creating lasting memories with us.
				{% endtrans %}</p>
		</article>
	</section>

	<div class="button">
		<a href="{{ path('app_home') }}" class="home-link">{% trans %}Return to main page{% endtrans %}</a>
	</div>

	<!-- Location Section -->
	<section>
		<div class="youtube">
			<h3 class>{% trans %}The Nature of the Kyrgyzstan in 4K{% endtrans %}</h3>
			<iframe width="100%" height="450" src="https://www.youtube.com/embed/Qp37q2-Gjvw?si=jZYRfmvjxGGWCE1v" title="{% trans %}YouTube video player{% endtrans %}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</section>
	<section>
		<div class="location">
			<h2>{% trans %}Location{% endtrans %}</h2>
			<p>{% trans %}
				We are located in the beautiful mountains of Kyrgyzstan, just a short drive from Bishkek. Our guesthouse is surrounded by stunning landscapes and offers a peaceful retreat for our guests.
				{% endtrans %}</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22249.594392953622!2d74.63339785259838!3d42.7240196302033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38994b00043b2377%3A0xab83fb071fd0f2fc!2sGuesthouse%20Terrabella!5e0!3m2!1sru!2skg!4v1746115674302!5m2!1sru!2skg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-cross-origin"></iframe>
		</div>
	</section>
{% endblock %}
