{% extends 'base.html.twig' %}

{% block title %}Reset password demand{% endblock %}

{% block body %}
    <div class="password-reset-request-container">
        <h2>Reset password demand</h2>

        {% for flash_error in app.flashes('error') %}
            <div class="alert alert-danger">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'reset_password'}}) }}
            <div class="form-group">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {
                    'attr': {
                        'class': 'form-control',
                        'placeholder': 'Entrez votre email',
                        'autocomplete': 'email'
                    }
                }) }}
                {{ form_errors(form.email) }}
            </div>

            <button type="submit" class="btn btn-primary">Envoyer la demande</button>
        {{ form_end(form) }}
    </div>
{% endblock %}