{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
{% endblock %}


{% block body %}
<div class="reset-container">
    <h2>Reset password</h2>
    
    {{ form_start(form, {'attr': {'class': 'reset-form'}}) }}
        <div class="form-group">
            {{ form_label(form.password, 'New password', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.password, {
                'attr': {
                    'class': 'form-input',
                    'placeholder': 'Enter your new password',
                    'autocomplete': 'new-password'
                }
            }) }}
            {{ form_errors(form.password) }}
        </div>        
        <button type="submit" class="submit-btn">New password</button>
    {{ form_end(form) }}
</div>
{% endblock %}